services:
  app:
    build:
      context: node
    networks:
      - node-network
    container_name: node_app
    entrypoint: dockerize -wait tcp://db:3306 -timeout 20s node index.js
    tty: true
    depends_on:
      - db

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    restart: always
    tty: true
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network
  nginx:
    build:
      context: nginx
    networks:
      - node-network
    container_name: nginx_app
    ports:
      - '8080:80'
    depends_on:
      - app

volumes:
  db-data:

networks:
  node-network:
    driver: bridge
